<a target="_blank" href="http://manticblog.com/2015/02/10/mantic-unleash-their-secret-weapon/"><img class="img-responsive pull-right" src="/dbx/img/hobby-time-logo.png" alt="Hobby Time!" /></a>

<h2>Social media</h2>

<ul>
  <li><a target="_blank" href="http://twitter.com/manticgames">@manticgames</a></li>
  <li><a target="_blank" href="http://facebook.com/manticgames">Follow us on Facebook</a></li>
  <li><a target="_blank" href="http://www.manticgames.com/newsletter.html">Get the Mantic newsletter</a></li>
</ul>
